[core]
  excludesfile = /Users/janismalcans/.gitignore
  editor = nvim
  ignorecase = false
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  tabs = 1
  dark = true
  features = arctic-fox
  side-by-side = true
  pline-numbers-left-format = ""
  line-numbers-right-format = "│ "
  navigate = true
[include]
  path = ~/Documents/dotfiles/themes.gitconfig
[alias]
  create = !git pull --rebase && git switch -c
  ac = !git add -A && git commit -m
  pwb = !git --no-pager log -n 1
  details = log --graph --decorate --oneline
  amend = !git add -A && git commit --amend --no-edit
  alias = config --global --get-regexp ^alias\\.
  added = "!cd \"${GIT_PREFIX:-.}\"; git --no-pager log --diff-filter=A -- $1"
[user]
  name = Janis Malcans
  email = jmalcans@evolution.com
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = true
[rerere]
  enabled = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[maintenance]
	repo = /Users/janismalcans/Documents/js-clients
